.btn-turing {
    background: #c71585;
    color: whitesmoke;
    font-weight: bold;
}
.text-turing {
    color: #c71585;
}
.cart {
    margin-left: auto;
}
.cart-text {
    background: #c71585;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 30%;
    margin-top: -15px;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 2px;
}