:host {
    width: 100%;
}
.label {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
}
.editable {
    border: 1px solid #c71585;
}
.btn-turing {
    background: #c71585;
    color: whitesmoke;
    font-weight: bold;
}
.d-flex {
    justify-content: flex-end;
}