.image-box {
    margin-top: 20%;
}
.product-details {
    margin-top: 15%;
}
.original-price {
    color: #c71585;
    font-weight: bold;
}
.discount-available {
    font-size: small;
    text-decoration: line-through;
}
.discounted-price {
    margin-left: 40px;
    font-weight: bolder;
    font-size: larger;
    color: #c71585;
}
.btn-turing {
    background: #c71585;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 20px;
}