.blue {
    background-color: blue;
    color: white;
}
.red {
    background-color: red;
    color: white;
}
.orange {
    background-color: orange;
    color: white;
}
.purple {
    background-color: purple;
    color: white;
}
.green {
    background-color: green;
    color: white;
}
.black {
    background-color: black;
    color: white;
}
.white {
    background-color: white;
    color: black;
}
.yellow {
    background-color: yellow;
    color: black;
}
.selected {
    border: 3px solid #c71585!important;
}
.badge {
    border: 2px solid black;
    color: white;
}